* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-box {
    display: flex;
    justify-content: flex-start;
    padding: 26px 64px;
}

.navbar-box-logo {
    display: flex;
    padding: 7px;
}

.navbar-box-logo img {
    cursor: pointer;
}

.navbar-box-links {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 23px 0;
    margin-left: 250px;
}

.navbar-box-links__elem {
    /*padding: 2px 2px 7px 2px;*/
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    line-height: 22px;
}

.navbar-box-links__elem:hover {
    border-bottom: 3px solid red;
    font-weight: normal;
}

.navbar-box-right{
    display: flex;
    margin-left: 30px;
}
.navbar-box-right-lang{
    transform: translateY(-20px);
    margin-left: 20px;

}
.navbar-box-right-lang span{
    margin-right: 15px;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #626262;
    cursor: pointer;
}
